.chart-header {
  display: flex;
  align-items: center;
}

.chart-header select {
  margin-left: 0.5rem;
}

.chart-card {
  position: relative;
}

.chart-loading {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
  width: 100% !important;
  height: 24rem !important;
}

@media only screen and (max-width: 768px) {
  .chart-container {
    height: 15rem !important;
  }
}
